:root {
	--color-bg: #f2e5d0;
	--color-fg: #f9f3ee;
	--color-brown: #180702;
	--color-bronze: #dba865;
	--color-ltBronze: #fabf72;
}

/* font-family: 'Archivo Black', sans-serif;
font-family: 'Libre Caslon Text', serif;
font-family: 'Montserrat', sans-serif; */

body {
	align-items: center;
	background-color: var(--color-bg);
	display: flex;
	height: 100vh;
	justify-content: center;
	width: 100vw;
	filter: blur(0);
}

.container {
	background-color: var(--color-fg);
	border-radius: 50px;
	box-sizing: border-box;
	display: grid;
	grid-template-rows: 100px 1fr 30px;
	height: 85vh;
	width: 90vw;
}

.header {
	align-items: center;
	border-radius: 50px 50px 0 0;
	color: var(--color-brown);
	display: grid;
	font-family: "Libre Caslon Text", serif;
	font-size: 1.2rem;
	grid-template-columns: repeat(3, 1fr);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
		rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.header img {
	height: 50px;
}

.branding {
	align-items: center;
	display: grid;
	font-family: "Libre Caslon Text", serif;
	font-size: 1.7rem;
	font-weight: 600;
	grid-template-columns: 70px 1fr;
	padding-left: 64px;
}

.add {
	display: flex;
	align-items: center;
	justify-content: center;
}

.add img {
	height: 20px;
}

/* .books {
	overflow: scroll;
} */

.user {
	align-items: center;
	display: flex;
	gap: 16px;
	justify-content: end;
	padding-right: 64px;
}

.form {
	color: var(--color-brown);
	font-size: 1.3rem;
	padding: 32px 24px;
	display: none;
	position: absolute;
	background-color: var(--color-bronze);
	border-radius: 30px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	border: solid 2px black;
}

.inputs {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
}

.form h1 {
	font-weight: 600;
	font-family: "Libre Caslon Text", serif;
}

input {
	height: 32px;
	border-radius: 7px;
	padding-left: 8px;
	width: 100%;
	outline: none;
	color: var(--color-brown);
}

.read {
	display: grid;
	font-size: 1.2rem;
	width: 100%;
	grid-template-columns: 3fr 1fr;
	align-items: center;
}

.book-container {
	display: grid;
	grid-template-rows: 1fr 50px 15px 1fr 50px 15px 10px;
}

.books {
	display: flex;
	gap: 64px;
	padding: 0 128px;
}

.book {
	display: grid;
	grid-template-columns: 122px 10px 28px 6px;
	grid-template-rows: 2fr 1fr;
	height: 240px;
	left: 30px;
	position: relative;
	top: 40px;
	width: 166px;
	color: var(--color-brown);
}

.bookSide {
	background-image: url("img/bookSide.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	grid-area: 1 / 4 / 3 / 5;
}

.stripe {
	background-color: var(--color-fg);
	grid-area: 1 / 2 / 3 / 3;
}

.title {
	background-color: var(--color-bronze);
	grid-area: 1 / 1 / 2 / 2;
	padding: 32px 16px;
	text-align: center;
}

.author {
	align-items: end;
	background-color: var(--color-bronze);
	display: flex;
	grid-area: 2 / 1 / 3 / 2;
	padding: 16px 16px;
	text-align: center;
}
.pages {
	background-color: var(--color-bronze);
	display: flex;
	transform: rotate(180deg);
	grid-area: 1 / 3 / 3 / 4;
	writing-mode: vertical-lr;
	padding: 8px;
}

.top-shelf {
	background: rgb(242, 229, 208);
	background: linear-gradient(
		180deg,
		rgba(242, 229, 208, 1) 0%,
		rgba(249, 243, 238, 1) 100%
	);
}

.shelf {
	background-color: var(--color-fg);
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
		rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

button {
	align-items: center;
	border-radius: 50px;
	box-sizing: border-box;
	cursor: pointer;
	display: flex;
	font-size: 0.9rem;
	font-weight: 600;
	gap: 16px;
	height: 50px;
	padding: 8px 16px;
	text-decoration: none;
}

button:active {
	transform: translateY(0);
}

button:disabled {
	cursor: auto;
}

.open-form {
	background-color: var(--color-bronze);
}

.submit-button {
	background-color: var(--color-bg);
	width: 100%;
	justify-content: center;
}

.open-form:hover:enabled {
	background-color: var(--color-ltBronze);
}

.submit-button:hover {
	background-color: var(--color-fg);
}

.filter-brown {
	filter: invert(5%) sepia(8%) saturate(7500%) hue-rotate(339deg)
		brightness(89%) contrast(102%);
}

a {
	text-decoration: none;
	color: var(--color-brown);
}

a:hover {
	text-decoration: underline;
	font-weight: 600;
}
